<div class="cartel">
    <!-- Comprueba que data.accion sea 'editar' o 'agregar' y muestra el Título correspondiente -->
    <h1>{{data.accion === 'editar'? 'Modificar' : 'Agregar'}} tipo producto</h1>
  
      <div mat-dialog-content class="reserva">
        <div class="reserva">
          <form [formGroup]="formulario" class="reserva-content" (submit)="onSubmit()">
  
            <mat-form-field [hideRequiredMarker]="data.editar" class="example-full-width">
              <mat-label>Capacidad de la mesa</mat-label>
              <input type="text" matInput formControlName="capacidad" placeholder="{{data.accion === 'editar'? 'Original: ' + data.mesa.capacidad : ''}}">
              <mat-error *ngIf="formulario.controls.capacidad.hasError('required')">
                Ingrese una capacidad válida
              </mat-error>
            </mat-form-field>
            <mat-form-field [hideRequiredMarker]="data.editar" class="example-full-width">
              <mat-label>Ubicación de la mesa</mat-label>
              <input type="text" matInput formControlName="ubicacion" placeholder="{{data.accion === 'editar'? 'Original: ' + data.mesa.ubicacion : ''}}">
              <mat-error *ngIf="formulario.controls.ubicacion.hasError('required')">
                Ingrese una ubicación válida
              </mat-error>
            </mat-form-field>
          
          <div class="boton">
            <button type="submit" mat-raised-button color="primary">
              Confirmar mesa
            </button>
            <button type="button" mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
          </div>
          
        </form>
        
      </div>
      
  </div>
  
