.main {
  display: grid;
  grid-template-areas: "titulo" "questions";
  justify-content: center;
  justify-items: center;
  padding: 1% 2%;
  column-gap: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.titulo {
  grid-area: titulo;
  text-align: center;
  color: #f7bd00;
  font-size: 30px
}

.questions {
  color: #fff;
  grid-area: questions;
  text-align: justify;
}

.question {
  color: #f7bd00;
  font-weight: 600;
}

@media only screen and (min-width: 992px) {
  .titulo {
      font-size: 35px;
  }
} 