<div class="main">

  <h1 class="titulo">Preguntas frecuentes</h1>
  <div class="questions">
    <p class="mat-h2 question">
      ¿Existe algún requerimiento para visualizar la carta de productos?
    </p>
    <p class="mat-h3">
      No, la carta puede ser visualizada sin necesidad de loguearse en el sistema. De todas formas, para 
      poder realizar pedidos desde la carta digital, se requiere estar logueado y haber escaneado el código QR de alguna de las mesas del local.
    </p>
    <br>
    <p class="mat-h2 question">
      ¿Cuáles son las utilidades de tener registrada una cuenta?
    </p>
    <p class="mat-h3">
      Además de poder realizar pedidos, se pueden crear menues personalizados y acceder a un conjunto de beneficios por medio de descuentos según la categoría del usuario.
    </p>
    <br>
    <p class="mat-h2 question">
      ¿Cómo hago para reservar una mesa para más de 6 personas?
    </p>
    <p class="mat-h3">
      El sistema solo permite reservar mesas de hasta 6 personas. Para reservas con una mayor cantidad de comensales, se debe comunicar telefónicamente con el local.
    </p>
    <br>
    <p class="mat-h2 question">
      ¿Cuáles son los beneficios de realizar pedidos de forma digital con respecto a la forma tradicional?
    </p>
    <p class="mat-h3">
      Los beneficios son varios, entre ellos: Mayor agilidad y rapidez al momento de realizar el pedido, evitando la presencia de un mozo para tomar la orden;
      cuanto más pedidos se realicen desde una misma cuenta, mayores descuentos/promociones tendrá la misma; control en tiempo real de los platos pedidos y el total
      de gastos acumulados, evitando llevarse una sorpresa al momento de pedir la cuenta; etc.
    </p>
    <br>
    <p class="mat-h2 question">
      ¿Cuál sería la función de los mozos con esta forma de gestión del local?
    </p>
    <p class="mat-h3">
      Los mozos estarían abocados a la habilitación/deshabilitación de las mesas y de llevar los pedidos una vez listos.
    </p>
    <br>
  </div>
</div>
