<mat-sidenav-container class="usuario-container">
    <mat-sidenav class="barra" mode=side [opened]="mostrarBarra">
        <mat-nav-list role="navigation" class="opciones">
               <a mat-list-item routerLinkActive="seleccionado" routerLink="/perfil/info"><mat-icon>settings</mat-icon>Información de mi cuenta</a>               
               <a mat-list-item routerLinkActive="seleccionado" routerLink="/perfil/reservas"><mat-icon>calendar_month</mat-icon>Histórico de reservas</a>               
               <a mat-list-item routerLinkActive="seleccionado" routerLink="/perfil/pedidos"><mat-icon>feed</mat-icon>Histórico de pedidos</a>               
               <a mat-list-item routerLinkActive="seleccionado" routerLink="/perfil/menues"><mat-icon>restaurant_menu</mat-icon>Mis menúes</a>               
               <a mat-list-item routerLinkActive="seleccionado" routerLink="/perfil/consumiciones"><mat-icon>shopping_cart</mat-icon>Mis consumiciones en el día</a>               
               
            <div style="height: 400px;"></div>
            <mat-divider></mat-divider>

        <a mat-list-item class="logout" (click)="logout()"> 
            <mat-icon>logout</mat-icon> 
        Cerrar sesión
        </a>               
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content class="contenido">
        <button mat-raised-button class="button-celular" (click)="desplegarBarra()">
            <mat-icon>menu_open</mat-icon>{{mostrarBarra? 'Ocultar' : 'Mostrar'}} menú
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

