<mat-sidenav-container class="usuario-container">
    <mat-sidenav class="barra" mode="side" opened>
        <mat-nav-list role="navigation" class="opciones">
               <a mat-list-item routerLinkActive="seleccionado" routerLink="/perfil/info">Información de mi cuenta</a>               
               <a mat-list-item routerLinkActive="seleccionado" routerLink="/perfil/reservas">Histórico de reservas</a>               
               <a mat-list-item routerLinkActive="seleccionado" routerLink="/perfil/pedidos">Histórico de pedidos</a>               
               <a mat-list-item routerLinkActive="seleccionado" routerLink="/perfil/menues">Mis menúes</a>               
               <a mat-list-item routerLinkActive="seleccionado" routerLink="/perfil/consumiciones">Mis consumiciones en el día</a>               
               
            <div style="height: 400px;"></div>
            <mat-divider></mat-divider>

        <a mat-list-item class="logout" (click)="logout()"> 
            <mat-icon>logout</mat-icon> 
        Cerrar sesión
        </a>               
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content class="contenido">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
