<div class="cartel">
  <!-- Comprueba que data.accion sea 'editar' o 'agregar' y muestra el Título correspondiente -->
  <h1 class="titulo">Cambiar contraseña</h1>

  <div mat-dialog-content class="reserva">
    <div class="reserva">
      <form [formGroup]="formulario" class="reserva-content" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
          <mat-label>Ingresar actual contraseña</mat-label>
          <input matInput [type]="ocultarActual ? 'password' : 'text'" formControlName="actualContrasenia" placeholder="Contraseña" tabindex="2">
          <button type="button" mat-icon-button matSuffix (click)="ocultarActual = !ocultarActual" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="ocultarActual" tabindex="-1">
            <mat-icon>{{ocultarActual ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="formulario.controls.actualContrasenia.hasError('required')">Campo obligatorio.</mat-error>
          <mat-error *ngIf="formulario.controls.actualContrasenia.hasError('minlength')">La contraseña debe contener mínimo 6 caracteres</mat-error>
          <mat-error *ngIf="formulario.controls.actualContrasenia.hasError('maxlength')">La contraseña debe contener máximo 20 caracteres</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Ingresar nueva contraseña</mat-label>
          <input matInput [type]="ocultarNueva ? 'password' : 'text'" formControlName="nuevaContrasenia" placeholder="Contraseña" tabindex="2">
          <button type="button" mat-icon-button matSuffix (click)="ocultarNueva = !ocultarNueva" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="ocultarNueva" tabindex="-1">
            <mat-icon>{{ocultarNueva ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="formulario.controls.nuevaContrasenia.hasError('required')">Campo obligatorio.</mat-error>
          <mat-error *ngIf="formulario.controls.nuevaContrasenia.hasError('minlength')">La contraseña debe contener mínimo 6 caracteres</mat-error>
          <mat-error *ngIf="formulario.controls.nuevaContrasenia.hasError('maxlength')">La contraseña debe contener máximo 20 caracteres</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput [type]="ocultarConfirm ? 'password' : 'text'" formControlName="confirmarContrasenia" placeholder="Contraseña" tabindex="2">
          <button type="button" mat-icon-button matSuffix (click)="ocultarConfirm = !ocultarConfirm" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="ocultarConfirm" tabindex="-1">
            <mat-icon>{{ocultarConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="formulario.controls.confirmarContrasenia.hasError('required')">Campo obligatorio.</mat-error>
          <mat-error *ngIf="formulario.controls.confirmarContrasenia.hasError('minlength')">La contraseña debe contener mínimo 6 caracteres</mat-error>
          <mat-error *ngIf="formulario.controls.confirmarContrasenia.hasError('maxlength')">La contraseña debe contener máximo 20 caracteres</mat-error>
        </mat-form-field>
        
        <div class="boton">
          <button type="submit" mat-raised-button color="primary">
            Confirmar
          </button>
          <button type="button" mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
        </div>
        
      </form>
    </div>
  </div>

</div>
