.cartel {
  padding: 2%;
}

.titulo {
  text-align: center;
}

.reserva {
  display: flex;
  justify-content: center;
  min-height: 20vh;
}

.reserva-content h1 {
  font-weight: 600;
  font-size: 45px;
}

.boton {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.boton button {
  width: 30%;
}

mat-form-field {
  height: 76px;
  width: 100%;
}
