.cartel {
  padding: 2%;
}

.titulo {
  text-align: center;
}

.reserva {
  display: flex;
  justify-content: center;
  min-height: 30vh;
  padding: 0%;
}

.reserva-content {
  display: flex;
  flex-direction: column;
  width: 377px;
}
  

.reserva-content h1 {
  font-weight: 600;
  font-size: 45px;
}

.reserva-input {
  width: 49%;
  margin-bottom: 5%;
}

.boton {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.boton button {
  width: 37%;
}

.filaFormulario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-form-field {
  height: 76px;
}

.usuario-confirmado {
  width: 100%;
}
  