.main {
  border: 10px solid rgb(41, 41, 41);
  background-color: #f7bd00;
}

.titulo {
  font-size: 30px;
  margin: 0%;
  padding: 2%;
  text-align: center;
  color:rgb(41, 41, 41)
}

.reserva {
  display: flex;
  justify-content: center;
  background-color: #f7bd00;
  min-height: 30vh;
  padding: 0%;
}
  
.reserva-content {
  display: flex;
  flex-direction: column;
  padding: 5% 2%;
  color: rgb(41, 41, 41);
  width: 377px;
}

.reserva-input {
  width: 49%;
  margin-bottom: 5%;
}
  
div.fechaHora {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2%;
}

mat-form-field.fechaHora {
  height: 76px;
}

.mesas {
  padding-inline: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boton {
  display: flex;
  justify-content: space-evenly;
}

.boton button {
  width: 37%;
}

 /* Límite hasta donde se puede desplazar la barra  */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

 /* Barra renderizada  */
::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 61);
}

/* Cuando se posiciona arriba de la barra  */
::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 119, 119);
}

@media only screen and (min-width: 992px) {
  .reserva {
    align-items: center;
  }
} 