.cartel {
  border: 10px solid rgb(41, 41, 41)
}

h1 {
    background-color: #f7bd00;  
    margin: 0%;
    padding: 2%;
    text-align: center;
    color:rgb(41, 41, 41)
}

.reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7bd00;
    min-height: 30vh;
  }
  
  .reserva-content {
    display: flex;
    flex-direction: column;
    padding: 5%;
    min-width: 30vw;
    max-width: 40vw;
    color: rgb(41, 41, 41);
  }
  
  .reserva-content h1 {
    font-weight: 600;
    font-size: 45px;
    color: rgb(41, 41, 41);
  }
  
  .reserva-input {
    width: 100%;
    margin-bottom: 5%;
  }
  
  div.fechaHora {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 9%;
  }
  
  mat-form-field.fechaHora {
    height: 76px;
    margin-right: 10%;
  }
  
  .boton {
    display: flex;
    justify-content: space-evenly;
  }
  
  .boton button {
    width: 30%;
  }
  
  .table-container {
    width: 537px;
    padding: 2%;
  }
  
  .tabla {
    width: 100%;
    background-color: rgb(61, 61, 61);
  }
  
  .mat-column-fechaHora {
    width: 60px;
    color: rgb(255, 255, 255);
  }
  
  .mat-column-cant_personas {
    width: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  .mat-column-id_mesa {
    width: 32px;
    text-align: center;
    color: rgb(255, 255, 255);
  }

 /* Límite hasta donde se puede desplazar la barra  */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

 /* Barra renderizada  */
::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 61);
}

/* Cuando se posiciona arriba de la barra  */
::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 119, 119);
}