<div class="cartel">
  <!-- Comprueba que data.accion sea 'editar' o 'agregar' y muestra el Título correspondiente -->
  <h1>{{data.accion === 'editar'? 'Modificar' : 'Agregar'}} tipo producto</h1>

    <div mat-dialog-content class="reserva">
      <div class="reserva">
        <form [formGroup]="formulario" class="reserva-content" (submit)="onSubmit()">

          <mat-form-field class="example-full-width">
            <mat-label>Descripcion del tipo producto</mat-label>
            <input type="text" matInput formControlName="descripcion" placeholder="{{data.accion === 'editar'? 'Original: ' + data.tipoProducto.descripcion : ''}}">
            <mat-error *ngIf="formulario.controls.descripcion.hasError('required')">
              Ingrese una descripcion válida
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Imagen del tipo producto</mat-label>
            <input type="text" matInput formControlName="imagen" placeholder="{{data.accion === 'editar'? 'Original: ' + data.tipoProducto.imagen : ''}}">
            <mat-error *ngIf="formulario.controls.imagen.hasError('required')">
              Ingrese una imagen válida
            </mat-error>
          </mat-form-field>
        
        <div class="boton">
          <button type="submit" mat-raised-button color="primary">
            Confirmar tipo producto
          </button>
          <button type="button" mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
        </div>
        
      </form>
      
    </div>
    
</div>
