.titulo {
  font-size: 30px;
  margin: 0%;
  padding: 2%;
  text-align: center;
}

.reserva {
  display: flex;
  justify-content: center;
  min-height: 30vh;
  padding: 0%;
}

.reserva-content {
  display: flex;
  flex-direction: column;
  padding: 5% 2%;
  width: 387px;
}
  
.reserva-input {
  width: 100%;
  margin-bottom: 5%;
}

.filaFormulario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2%;
}

mat-form-field {
  height: 76px;
}

.boton {
  display: flex;
  justify-content: space-evenly;
}

.boton button {
  width: 30%;
}
  