<div class="header">
  <mat-toolbar class="barra">
    <a mat-button routerLink="/" class="logo">PedidosÁgiles</a> 
    <span class="example-spacer"></span> 
    <a mat-button routerLink="/carta">Carta</a>
    <a mat-button routerLink="/reservas">Reservar</a>
    <a mat-button routerLink="/auth/login">Login</a>
    
    <!-- <ng-container *ngIf=""> Despues habria que renderizar el boton solo para la vista de mozo/cocina  -->
      <a mat-button routerLink="/pedidos">Pedidos pendientes</a>
    <!-- </ng-container> -->
  </mat-toolbar>
</div>

