<mat-toolbar class="header">
  <a mat-button routerLink="/" class="logo">
    <img src="../../../../assets/img/logo/Logo Pedidos Agiles.png" class="foto">
  </a>
  <span class="separador"></span>

  <a *ngIf="isLoggedIn && usuarioRol === 2 " mat-button (click)="scanearQR()"><mat-icon>qr_code_scanner</mat-icon>Escanear QR</a>

  <a mat-button routerLink="/carta"><mat-icon>menu_book</mat-icon>Carta</a>

  <ng-container *ngIf="isLoggedIn; else noLogueado">
    <div class="enlaces-pc">
      <ng-container *ngFor="let enlace of enlacesUsuario">
        <a *ngIf="enlace.roles.includes(usuarioRol)" mat-button [routerLink]="enlace.routerLink">
          <mat-icon>{{ enlace.icon }}</mat-icon>{{ enlace.label }}
        </a>
      </ng-container>
      <a mat-flat-button color="warn" (click)="logout()" routerLink="/"> <mat-icon>power_settings_new</mat-icon>Cerrar sesión</a>
    </div>

    <button class="enlaces-celular" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="enlaces-celular menu-enlaces-header">
      <ng-container *ngFor="let enlace of enlacesUsuario">
        <a *ngIf="enlace.roles.includes(usuarioRol)" mat-menu-item class="menu-enlace-item" [routerLink]="enlace.routerLink">
          <mat-icon>{{ enlace.icon }}</mat-icon>{{ enlace.label }}
        </a>
      </ng-container>
      <a mat-flat-button color="warn" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>Cerrar sesión
      </a>
    </mat-menu>
  </ng-container>

  <ng-template #noLogueado>
    <a mat-button routerLink="/auth"><mat-icon>input</mat-icon>Autenticación</a>
  </ng-template>
</mat-toolbar>