<div class="main">

  <!-- Titulo de confirmar el pedido -->
  <h1 class="titulo">Confirmar pedido</h1>
  <!-- Detalle del producto  -->
  <div class="detalle-container">
    <table>
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Precio Unitario</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <!-- Generar filas dinámicamente usando *ngFor -->
        <tr *ngFor="let producto of data.carrito">
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio | currency:'ARS' }}</td>
          <td>{{ producto.cant_selecc }}</td>
        </tr>
      </tbody>
    </table>
    <p>
      Observación: {{ data.observacion || "No hay." }}
    </p>
    <p>
      Total: {{ calcularTotal() | currency:'ARS' }}
    </p>
  </div>
  
  <div class="boton">
    <button mat-raised-button type="button" color="primary" [mat-dialog-close]="true">Realizar pedido</button>
    <button mat-raised-button type="button" color="warn" (click)="onNoClick()">Cancelar</button>
  </div>
  <br>
</div>