<div class="reset">
  <form [formGroup]="formulario" class="reset-content mat-elevation-z6" (submit)="onSubmit()">
    <h1>REINICIAR CONTRASEÑA</h1>

    <mat-form-field appearance="outline" class="reset-input">
      <mat-label>Ingresar email</mat-label>
      <input matInput formControlName="email" placeholder="Email" tabindex="1">
      <mat-error *ngIf="formulario.controls.email.hasError('required')">Campo obligatorio.</mat-error>
      <mat-error *ngIf="formulario.controls.email.hasError('email')">El email debe tener un formato válido</mat-error>
      <mat-error *ngIf="formulario.controls.email.hasError('minlength')">El email debe contener 5 o más caracteres</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="reset-input">
      <mat-label>Ingresar contraseña</mat-label>
      <input matInput [type]="ocultarContrasenia ? 'password' : 'text'" formControlName="contrasenia" placeholder="Contraseña"  required tabindex="2">
      <button type="button" mat-icon-button matSuffix (click)="ocultarContrasenia = !ocultarContrasenia" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="ocultarContrasenia" tabindex="-1">
        <mat-icon>{{ocultarContrasenia ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formulario.controls.contrasenia.hasError('required')">Campo obligatorio.</mat-error>
      <mat-error *ngIf="formulario.controls.contrasenia.hasError('minlength')">La contraseña debe contener mínimo 6 caracteres</mat-error>
      <mat-error *ngIf="formulario.controls.contrasenia.hasError('maxlength')">La contraseña debe contener máximo 20 caracteres</mat-error>
  </mat-form-field>
    
    <mat-form-field appearance="outline" class="reset-input">
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput [type]="ocultarConfirmarContrasenia ? 'password' : 'text'" formControlName="confirmarContrasenia" placeholder="Confirmar contraseña" required tabindex="3">
      <button type="button" mat-icon-button matSuffix (click)="ocultarConfirmarContrasenia = !ocultarConfirmarContrasenia" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="ocultarConfirmarContrasenia" tabindex="-1">
        <mat-icon>{{ocultarConfirmarContrasenia ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formulario.controls.confirmarContrasenia.hasError('required')">Campo obligatorio.</mat-error>
      <mat-error *ngIf="formulario.controls.confirmarContrasenia.hasError('minlength')">La contraseña debe contener mínimo 6 caracteres</mat-error>
      <mat-error *ngIf="formulario.controls.confirmarContrasenia.hasError('maxlength')">La contraseña debe contener máximo 20 caracteres</mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary" class="reset-submit" tabindex="4">
      Reiniciar contraseña
    </button>

    <section class="reset-redirect">
      <a mat-raised-button (click)="onClick()" tabindex="5">Volver atrás</a>
    </section>
  </form>
</div>