<div class="auth-container">
  <form [formGroup]="formulario" class="auth-form mat-elevation-z6" (submit)="onSubmit()">

    <h1 class="auth-title">Restablecer contraseña</h1>

    <div class="auth-row">
      <mat-form-field appearance="outline" class="auth-input">
        <mat-label>Ingresar email</mat-label>
        <input matInput formControlName="email" placeholder="Email" tabindex="1">
        <mat-error *ngIf="formulario.controls.email.hasError('required')">Campo obligatorio.</mat-error>
        <mat-error *ngIf="formulario.controls.email.hasError('email')">Formato inválido.</mat-error>
        <mat-error *ngIf="formulario.controls.email.hasError('minlength')">Debe contener mínimo 5 caracteres.</mat-error>
        <mat-error *ngIf="formulario.controls.email.hasError('maxlength')">Debe contener máximo 100 caracteres.</mat-error>
      </mat-form-field>
    </div>

    <div class="auth-row">
      <mat-form-field appearance="outline" class="auth-input">
        <mat-label>Ingresar contraseña</mat-label>
        <input matInput [type]="ocultarContrasenia ? 'password' : 'text'" formControlName="contrasenia" placeholder="Contraseña"  required tabindex="2">
        <button type="button" mat-icon-button matSuffix (click)="ocultarContrasenia = !ocultarContrasenia" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="ocultarContrasenia" tabindex="-1">
          <mat-icon>{{ocultarContrasenia ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formulario.controls.contrasenia.hasError('required')">Campo obligatorio.</mat-error>
        <mat-error *ngIf="formulario.controls.contrasenia.hasError('minlength')">Debe contener mínimo 6 caracteres.</mat-error>
        <mat-error *ngIf="formulario.controls.contrasenia.hasError('maxlength')">Debe contener máximo 20 caracteres.</mat-error>
      </mat-form-field>
    </div>

    <div class="auth-row">
      <mat-form-field appearance="outline" class="auth-input">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput [type]="ocultarConfirmarContrasenia ? 'password' : 'text'" formControlName="confirmarContrasenia" placeholder="Confirmar contraseña" required tabindex="3">
        <button type="button" mat-icon-button matSuffix (click)="ocultarConfirmarContrasenia = !ocultarConfirmarContrasenia" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="ocultarConfirmarContrasenia" tabindex="-1">
          <mat-icon>{{ocultarConfirmarContrasenia ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formulario.controls.confirmarContrasenia.hasError('required')">Campo obligatorio.</mat-error>
        <mat-error *ngIf="formulario.controls.confirmarContrasenia.hasError('minlength')">Debe contener mínimo 6 caracteres.</mat-error>
        <mat-error *ngIf="formulario.controls.confirmarContrasenia.hasError('maxlength')">Debe contener máximo 20 caracteres.</mat-error>
      </mat-form-field>
    </div>

    <button class="auth-button" type="submit" mat-flat-button color="primary" tabindex="4">Restablecer contraseña</button>
    <div class="divider-container">
      <mat-divider></mat-divider>
      <span class="divider-text">O</span>
      <mat-divider></mat-divider>
    </div>
    <a class="auth-button auth-button--secondary" mat-flat-button (click)="onClick()" tabindex="5">Volver atrás</a>

  </form>
</div>