<div class="cartel">
  <!-- Comprueba que data.accion sea 'editar' o 'agregar' y muestra el Título correspondiente -->
  <h1>{{data.editar ? 'Modificar' : 'Agregar'}} reserva</h1>

  <div mat-dialog-content class="reserva">
    <div class="reserva">
      <form [formGroup]="formulario" class="reserva-content" (ngSubmit)="onSubmit()">

        <mat-form-field  appearance="outline" floatLabel="auto" [hideRequiredMarker]="true" class="reserva-input">
          <mat-label>Cambiar nombre</mat-label>
          <input matInput type="text" formControlName="nombre">
          <mat-error *ngIf="formulario.controls.nombre.hasError('required')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field  appearance="outline" floatLabel="auto" [hideRequiredMarker]="true" class="reserva-input">
          <mat-label>Cambiar apellido</mat-label>
          <input matInput type="text" formControlName="apellido">
          <mat-error *ngIf="formulario.controls.apellido.hasError('required')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field  appearance="outline" floatLabel="auto" [hideRequiredMarker]="true" class="reserva-input">
          <mat-label>Cambiar teléfono</mat-label>
          <input matInput type="text" formControlName="telefono">
          <mat-error *ngIf="formulario.controls.telefono.hasError('required')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field  appearance="outline" floatLabel="auto" [hideRequiredMarker]="true" class="reserva-input">
          <mat-label>Cambiar dirección</mat-label>
          <input matInput type="text" formControlName="direccion">
          <mat-error *ngIf="formulario.controls.direccion.hasError('required')">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-input">
          <mat-label>Ingresar contraseña</mat-label>
          <input matInput [type]="ocultar ? 'password' : 'text'" formControlName="contrasenia" placeholder="Contraseña" tabindex="2">
          <button type="button" mat-icon-button matSuffix (click)="ocultar = !ocultar" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="ocultar" tabindex="-1">
            <mat-icon>{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="formulario.controls.contrasenia.hasError('required')">Campo obligatorio.</mat-error>
          <mat-error *ngIf="formulario.controls.contrasenia.hasError('minlength')">La contraseña debe contener mínimo 6 caracteres</mat-error>
          <mat-error *ngIf="formulario.controls.contrasenia.hasError('maxlength')">La contraseña debe contener máximo 20 caracteres</mat-error>
        </mat-form-field>
        
        <div class="boton">
          <button type="submit" mat-raised-button color="primary">
            Confirmar
          </button>
          <button type="button" mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
        </div>
        
      </form>
    </div>
  </div>

</div>
