<div class="main"> 
    <h1 class="titulo">¿Quiénes somos?</h1>
    <p>Somos estudiantes de la Universidad Tecnológica Nacional Regional Rosario, de la carrera 
       Ingeniería en Sistemas de Información y este sistema fue realizado como parte del proyecto final de la misma.</p>
    <div>
        <h2>Frontons Juan</h2>
        <p>Fecha de nacimiento: 23/08/1997</p>
        <p> 
            <fa-icon [icon]="faEnvelope"></fa-icon> Correo electrónico: juan230897@gmail.com
        </p>
        <a href="https://github.com/Jufron97"> 
            <fa-icon [icon]="faGithub"></fa-icon> GitHub: @Jufron97
        </a>
    </div>
    <div>
        <h2>Sotto Diaz Milton</h2>
        <p>Fecha de nacimiento: 28/10/1996</p>
        <p>  
            <fa-icon [icon]="faEnvelope"></fa-icon> Correo electrónico: sottodiaz.milton@gmail.com
        </p>
        <a href="https://github.com/miltonsd"> 
            <fa-icon [icon]="faGithub"></fa-icon> GitHub: @miltonsd
        </a>
    </div>
    <div>
        <h2>Vedoya Joaquin</h2>
        <p>Fecha de nacimiento: 26/09/1997</p>
        <p> 
            <fa-icon [icon]="faEnvelope"></fa-icon> Correo electrónico: jokinve1997@gmail.com
        </p>
        <a href="https://github.com/joakinve"> 
            <fa-icon [icon]="faGithub"></fa-icon> GitHub: @joakinve
        </a>
    </div>

    <div class= "mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.8704282892663!2d-60.64630682350624!3d-32.95443017228315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11d0eb49c3%3A0x11f1d3d54f950dd0!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%7C%20Facultad%20Regional%20Rosario!5e0!3m2!1ses-419!2sar!4v1689702276544!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>