.reserva {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(41, 41, 41);
  min-height: 30vh;
}

.reserva-content {
  display: flex;
  flex-direction: column;
  padding: 5%;
  min-width: 30vw;
  max-width: 40vw;
  color: #f7bd00;
}

.reserva-content h1 {
  font-weight: 600;
  font-size: 45px;
  color: #f7bd00;
}

.reserva-input {
  width: 100%;
  margin-bottom: 5%;
}

div.fechaHora {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-form-field.fechaHora {
  height: 76px;
  margin-right: 10%;
}

.boton {
  display: flex;
  justify-content: space-evenly;
}

.boton button {
  width: 30%;
}

.table-container {
  width: 537px;
  padding: 2%;
}

.tabla {
  width: 100%;
  background-color: rgb(61, 61, 61);
}

.mat-column-fechaHora {
  width: 60px;
  color: rgb(255, 255, 255);
}

.mat-column-cant_personas {
  width: 200px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.mat-column-id_mesa {
  width: 32px;
  text-align: center;
  color: rgb(255, 255, 255);
}
