<div class="reserva">
  <form [formGroup]="formulario" class="reserva-content" (submit)="onSubmit()">
    <h1 class="titulo">Hace tu reserva</h1>

    <div class="fechaHora" formGroupName="fechaHoraCantidad">
      <mat-form-field appearance="fill" class="reserva-input fechaHora">
        <mat-label>Seleccionar fecha</mat-label>
        <input
          matInput
          formControlName="fecha"
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="calendario"
          readonly
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="calendario"
        ></mat-datepicker-toggle>
        <mat-datepicker #calendario disabled="false"></mat-datepicker>
        <mat-error *ngIf="formulario.controls.fechaHoraCantidad.controls.fecha.hasError('required')">
          Campo obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="reserva-input fechaHora">
        <mat-label>Seleccionar horario</mat-label>
        <mat-select formControlName="hora">
          <mat-option *ngFor="let hora of horas" [value]="hora">{{
            hora
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formulario.controls.fechaHoraCantidad.controls.hora.hasError('required')">
          Campo obligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    <div formGroupName="fechaHoraCantidad">
      <mat-form-field appearance="fill" class="reserva-input">
        <mat-label>Ingresar cantidad de personas</mat-label>
        <input matInput type="number" formControlName="cantidad">
        <mat-hint>Para reservas de más de 6 personas, comunicarse con el bar.</mat-hint>
        <mat-error *ngIf="formulario.controls.fechaHoraCantidad.controls.cantidad.hasError('required')">
          Campo obligatorio.
        </mat-error>
        <mat-error *ngIf="formulario.controls.fechaHoraCantidad.controls.cantidad.hasError('min')">
          La cantidad mínima es 1 persona.
        </mat-error>
        <mat-error *ngIf="formulario.controls.fechaHoraCantidad.controls.cantidad.hasError('max')">
          Para reservas de más de 6 personas, comunicarse con el bar.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <p>Seleccionar mesa:</p>
      <!-- [] = Input y () = Output  -->
      <pa-mesa-grid [mesas]="this.mesas" [fechaHora]="this.fechaHora" [cantidad]="this.cantidad" (mesaSeleccionadaId)="onSelectMesa($event)"/>
    </div>

    <div class="boton">
      <button type="submit" mat-raised-button color="primary">
        Confirmar reserva
      </button>

      <ng-container *ngIf="!this.mostrarReservas; else ocultarReservas">
        <button mat-raised-button color="accent" (click)="onVerReservas()">
          Reservas pendientes
        </button>
      </ng-container>

      <ng-template #ocultarReservas>
        <button mat-raised-button color="accent" (click)="onVerReservas()">
          Ocultar reservas
        </button>
      </ng-template>
    </div>
  </form>

  <ng-container *ngIf="this.mostrarReservas">
    <div class="table-container">
      <pa-tabla
        [tableData]="reservas"
        [tableColumns]="columnas"
        [isFilter]="true"
        [isPaginator]="true"
        [pageOptions]="[5, 10, 15]"
        (action)="onDelete($event)"
      ></pa-tabla>
    </div>
  </ng-container>
</div>
