<div class="reserva">
    <form [formGroup]="formulario" class="reserva-content" (submit)="onSubmit()">
        <h1 class="titulo">Hace tu reserva</h1>
        
        <div class="fechaHora">
            <mat-form-field appearance="fill" class="reserva-input fechaHora">
                <mat-label>Seleccionar fecha</mat-label>
                <input matInput formControlName="fecha" [min]="minDate" [max]="maxDate" [matDatepicker]="dp3" readonly>
                <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="reserva-input fechaHora">
                <mat-label>Seleccionar horario</mat-label>
                <mat-select formControlName="hora"> 
                    <mat-option *ngFor="let hora of horas" [value]="hora">{{hora}}</mat-option>
                </mat-select>
            </mat-form-field>        
        </div>

        <mat-form-field appearance="fill" class="reserva-input">
            <mat-label>Ingresar cantidad de personas</mat-label>
            <mat-select formControlName="cantidad">
                <mat-option *ngFor="let persona of personas" [value]="persona">{{persona}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="reserva-input">
            <mat-label>Seleccionar mesa</mat-label>
            <mat-select formControlName="mesa">
                <mat-option *ngFor="let mesa of mesas" [value]="mesa.id_mesa">{{mesa.id_mesa}} - {{mesa.ubicacion}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="boton">
            <button type="submit" mat-raised-button color="primary">
                Confirmar reserva
            </button>

            <ng-container *ngIf="!this.mostrarReservas; else ocultarReservas">
                <button mat-raised-button color="accent" (click)="onVerReservas()">
                    Ver reservas
                </button>
            </ng-container>

            <ng-template #ocultarReservas>
                <button mat-raised-button color="accent" (click)="onVerReservas()">
                   Ocultar reservas
                </button>
            </ng-template>
        </div>

    </form>

    <ng-container *ngIf="this.mostrarReservas">
        <div class="table-container">
            <pa-tabla [tableData]="reservasDatos" [tableColumns]="reservasColumnas" [isFilter]="true" [isPaginator]="true" [pageOptions]="[5, 10, 15]"></pa-tabla>
        </div>
    </ng-container>

</div>