/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(34, 34, 34);
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Oswald', sans-serif; }

/* Ancho de la barra  */
::-webkit-scrollbar {
  width: 10px;
}

 /* Límite hasta donde se puede desplazar la barra  */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

 /* Barra renderizada  */
::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 61);
}

/* Cuando se posiciona arriba de la barra  */
::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 119, 119);
}
