<div>
  <div class="lista-prod">
    <h1 class="titulo" id="Ensaladasyentradas">Ensaladas y entradas</h1>
    <pa-tabla
      [tableData]="ensaladas"
      [tableColumns]="columnas"
      [isFilter]="false"
      [isPaginator]="false"
      (addAction)="addToCart($event)"
      (removeAction)="removeToCart($event)"
    ></pa-tabla>

    <h1 class="titulo" id="Parapicar">Para picar</h1>
    <pa-tabla
      [tableData]="paraPicar"
      [tableColumns]="columnas"
      [isFilter]="false"
      [isPaginator]="false"
      (addAction)="addToCart($event)"
      (removeAction)="removeToCart($event)"
    ></pa-tabla>

    <h1 class="titulo" id="Sandwichesypizzas">Sandwiches y pizzas</h1>
    <pa-tabla
      [tableData]="sandwiches"
      [tableColumns]="columnas"
      [isFilter]="false"
      [isPaginator]="false"
      (addAction)="addToCart($event)"
      (removeAction)="removeToCart($event)"
    ></pa-tabla>

    <h1 class="titulo" id="Platosprincipales">Platos principales</h1>
    <pa-tabla
      [tableData]="principales"
      [tableColumns]="columnas"
      [isFilter]="false"
      [isPaginator]="false"
      (addAction)="addToCart($event)"
      (removeAction)="removeToCart($event)"
    ></pa-tabla>

    <h1 class="titulo" id="Postresycafetería">Postres y cafetería</h1>
    <pa-tabla
      [tableData]="postres"
      [tableColumns]="columnas"
      [isFilter]="false"
      [isPaginator]="false"
      (addAction)="addToCart($event)"
      (removeAction)="removeToCart($event)"
    ></pa-tabla>

    <h1 class="titulo" id="Bebidassinalcohol">Bebidas sin alcohol</h1>
    <pa-tabla
      [tableData]="bebidasSA"
      [tableColumns]="columnas"
      [isFilter]="false"
      [isPaginator]="false"
      (addAction)="addToCart($event)"
      (removeAction)="removeToCart($event)"
    ></pa-tabla>

    <h1 class="titulo" id="Cervezas">Cervezas</h1>
    <pa-tabla
      [tableData]="cervezas"
      [tableColumns]="columnas"
      [isFilter]="false"
      [isPaginator]="false"
      (addAction)="addToCart($event)"
      (removeAction)="removeToCart($event)"
    ></pa-tabla>

    <h1 class="titulo" id="Vinosyespumantes">Vinos y espumantes</h1>
    <pa-tabla
      [tableData]="vinos"
      [tableColumns]="columnas"
      [isFilter]="false"
      [isPaginator]="false"
      (addAction)="addToCart($event)"
      (removeAction)="removeToCart($event)"
    ></pa-tabla>

    <h1 class="titulo" id="Tragos">Tragos</h1>
    <pa-tabla
      [tableData]="tragos"
      [tableColumns]="columnas"
      [isFilter]="false"
      [isPaginator]="false"
      (addAction)="addToCart($event)"
      (removeAction)="removeToCart($event)"
    ></pa-tabla>
  </div>
</div>

<button *ngIf="usuarioLogueado"
  class="submit"
  type="submit"
  [disabled]="this.mesa === undefined || !this.mesa.habilitada || !canPlaceOrder()"
  mat-raised-button
  color="primary"
  (click)="onSubmit()"
>
  Realizar pedido (🛒)
</button>
