.faq-acordeon {
  max-width: 800px; /* Ancho máximo para el acordeón */
  margin: 20px auto; /* Centrarlo en la página */
}

mat-expansion-panel {
  background-color: rgb(61, 61, 61);
  margin-bottom: 10px; /* Espacio entre cada panel */
  border-radius: 8px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

mat-expansion-panel-header {
  min-height: 48px;
  margin-top: 5%;
  margin-bottom: 5%;
  height: auto;
}

.mat-expansion-panel-header.mat-expanded {
  height: auto;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
  background-color: rgb(61, 61, 61);
}

mat-panel-title {
  font-size: 20px;
  color: #f7bd00;
  font-weight: 600;
}

p {
  font-size: 18px;
  color: #fff;
  text-align: justify;
  line-height: 1.6;
}

@media only screen and (min-width: 992px) {
  mat-expansion-panel-header {
    margin-top: auto;
    margin-bottom: auto;
  }
} 