<div class="cartel">
    <!-- Comprueba que data.accion sea 'editar' o 'agregar' y muestra el Título correspondiente -->
    <h1>{{data.accion === 'editar'? 'Modificar' : 'Agregar'}} pedido</h1>
  
      <div mat-dialog-content class="reserva">
        <div class="reserva">
          <form [formGroup]="formulario" class="reserva-content" (submit)="onSubmit()">
  
            <!-- <mat-form-field class="example-full-width">
              <mat-label>Fecha y hora del pedido</mat-label>
              <input type="text" matInput formControlName="fechaHora" placeholder="{{data.accion === 'editar'? 'Original: ' + data.pedido.fechaHora : ''}}">
              <mat-error *ngIf="formulario.controls.fechaHora.hasError('required')">
                Ingrese una fecha y hora válida
              </mat-error>
            </mat-form-field> -->

            <mat-form-field class="example-full-width">
              <mat-label>Monto del importe del pedido</mat-label>
              <input type="text" matInput formControlName="montoImporte" readonly [value]="calculaMonto()">
            </mat-form-field>
            <mat-checkbox class="example-full-width" [formControl]="isPendiente">
              ¿Pedido pendiente?
            </mat-checkbox>

            <mat-form-field appearance="fill" class="reserva-input fechaHora">
              <mat-label>Seleccionar ID de usuario</mat-label>
              <mat-select formControlName="usuario">
                <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id_usuario">{{
                  usuario.nombre
                }}</mat-option>
              </mat-select>
              <mat-error *ngIf="formulario.controls.usuario.hasError('required')">
                Campo obligatorio.
              </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="reserva-input fechaHora">
              <mat-label>Seleccionar mesa</mat-label>
              <mat-select formControlName="mesa">
                <mat-option *ngFor="let mesa of mesas" [value]="mesa.id_mesa">{{
                  mesa.id_mesa + ' - ' + mesa.ubicacion
                }}</mat-option>
              </mat-select>
              <mat-error *ngIf="formulario.controls.mesa.hasError('required')">
                Campo obligatorio.
              </mat-error>
            </mat-form-field>

            <div formArrayName="productos">
              <div *ngFor="let producto of productos.controls; let i = index;" [formGroupName]="i">
               
                <mat-form-field appearance="fill" class="reserva-input fechaHora">
                  <mat-label>Seleccionar producto(s)</mat-label>
                  <mat-select formControlName="id_producto" (selectionChange)="onSelectChange($event.value, i)">
                    <mat-option *ngFor="let p of lista_productos" [value]="p.id_producto">{{
                      p.descripcion
                    }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.controls.productos.hasError('required')">
                    Campo obligatorio.
                  </mat-error>
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                  <mat-label>Cantidad</mat-label>
                  <input type="number" matInput formControlName="cant_selecc" placeholder="{{data.accion === 'editar'? 'Original: ' + data.pedido.cantidad : ''}}">
                  <mat-error *ngIf="formulario.controls.productos.hasError('required')">
                    Ingrese un monto del importe válido
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Precio</mat-label>
                  <input type="text" matInput formControlName="subtotal" readonly>
                  <!-- <input type="text" matInput formControlName="subtotal" [value]="getValue('precio', i) * getValue('cant_selecc', i)" readonly> -->
                </mat-form-field>
                
                <button (click)="removeProducto(i)">Eliminar producto</button>
                <br><br>
          
              </div>
            </div>
            <button type="button" (click)="addProducto()">
              Agregar producto
            </button>

          <div class="boton">
            <button type="submit" mat-raised-button color="primary">
              Confirmar pedido
            </button>
            <button type="button" mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
          </div>
          
        </form>
        
      </div>
      
  </div>
  
