.filtro { width: 100%; }
  
.tabla {
  width: 100%;
  background-color: rgb(61, 61, 61);
  border: 1px solid #f7bd00;
  box-shadow: 0px 0px 10px 1px #f7bd00;
  font-size: 13px;
}

.mat-mdc-header-cell, .mat-mdc-cell, .mat-cell, .mat-mdc-sort-header { 
  text-align: center;
  color: rgb(255, 255, 255);
  /* border: 1px solid rgb(255, 255, 255); */
}

.cover { max-width: 80px; }

.botones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.boton-c {
  display: flex;
  justify-content: center;
}

/* Hace referencia a los botones de +1 y -1  */
.botones-carta .boton {
  width: 32px;
  height: 32px;
}

.edit-delete-celular .boton {
  width: 32px;
  height: 32px;
}

.boton { 
  margin: 0% 1%; 
}

.edit-delete-pc {
  display: none;
}

@media only screen and (min-width: 992px) {
.tabla {
  font-size: 16px
}

.boton-c {
  width: 217px;
}

/* Hace referencia a los botones de +1 y -1  */
.botones-carta .boton {
  width: 48px;
  height: 48px;
}

.edit-delete-celular {
  display: none;
}

.edit-delete-pc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}
} 