.filtro {
    width: 100%;
  }
  
  .tabla {
    width: 100%;
    background-color: rgb(61, 61, 61);
    font-family: 'Oswald', sans-serif;
  }

  .mat-mdc-header-cell { 
    text-align: center;
    color: rgb(255, 255, 255);
   }

   .mat-mdc-cell { 
    text-align: center;
    color: rgb(255, 255, 255);
   }
  
  .cover {
    max-width: 80px;
  }
  
  .boton {
    margin: 0% 1%;
  }